<div class="table-wrapper" *ngIf="!isMobile">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columns">
            {{ column }}
            <i class="fa fa-sort" aria-hidden="true"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of paginatedData">
          <td *ngFor="let column of columns" class="py-2 px-4 border-b">
            <span *ngIf="row[column] === 'Concluído' || row[column] === 'Cancelado'"
                  class="status">
              {{ row[column] }}
            </span>
            <ng-container *ngIf="row[column] !== 'Concluído' && row[column] !== 'Cancelado'">
              {{ row[column] }}
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <div class="rows-per-page">
      <label for="itemsPerPage">Linhas por página: </label>
      <select id="itemsPerPage" (change)="changeItemsPerPage($event)">
        <option *ngFor="let option of pageOptions" [value]="option" [selected]="option === itemsPerPage">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="pagination-buttons">
      <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button *ngFor="let page of pages" (click)="changePage(page)" [class.active]="currentPage === page">
        {{ page }}
      </button>
      <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="isMobile" class="card-list">
  <div class="card-item" *ngFor="let row of data">
    <h2>{{ columns[0] }}:</h2>
    <p class="action">{{ row[columns[0]] }}</p>
    <hr>
    <div class="card-row">
      <div>
        <p class="label">{{ columns[1] }}:</p>
        <p class="value">{{ row[columns[1]] }}</p>
      </div>
      <div>
        <p class="label">{{ columns[2] }}:</p>
        <span class="value">{{ row[columns[2]] }}</span>
      </div>
    </div>
    <hr>
    <div class="card-row">
      <div>
        <p class="label-g">{{ columns[3] }}:</p>
        <p class="value">{{ row[columns[3]] }}</p>
      </div>
      <div>
        <p class="label-g">{{ columns[4] }}:</p>
        <span class="status-card">{{ row[columns[4]] }}</span>
      </div>
    </div>
  </div>
</div>

